<!DOCTYPE html>
<html lang="en">
<head>
    <link href="aboutCSS.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>About me - Timmie Bang</title>
</head>
<body>
<div class="sidebar">
    <a style="font-size: 25px"href="http://localhost:8080/Homepage">Back</a>
</div>
<h1>About me - Portfolio</h1>
<div class="wrapper">
    <div class="main">
        <h2>About me</h2>

        <p style="font-size: 21px">Hej mit navn er Timmie Bang Nielsen, og jeg er en 21 årig student på KEA. Indtil videre studere
        jeg til at kunne blive teknisk designer.</p>
    </div>
</div>
</body>
</html>