<!DOCTYPE html>
<html lang="en">
<head>
    <link href="PortfolioCSS.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Portfolio - Timmie Bang</title>
</head>
<body>
    <h1>Homepage - Portfolio</h1>
    <div class="wrapper">
        <div class="main">
            <h2>Welcome to my Portfolio</h2>
            <img src="/Background.png" class="imgMIG">
            <p style="font-size: 25px">Hej mit navn er Timmie Bang Nielsen, og dette er min hjemmeside for min portfolio omkring
                mig selv og ting du måske gerne vil have at vide om mig.</p>
        </div>
        <div class="sidebar">
            Links
            <div class="refrenceLinks">
                <a href="http://localhost:8080/Homepage">Homepage</a><br>
                <a href="http://localhost:8080/AboutMe">About me</a><br>
                <a href="https://github.com/Healsu">Min Github</a>
            </div>
        </div>
    </div>
</body>
</html>